* {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.main-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display:flex;
  justify-content:center;
  align-items: center;
}